<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Rubiks!</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/app.css") %>">
  </head>

  <body>
    <div class="wrapper">
      <%= render RubiksWeb.SharedView, "sidebar.html", conn: @conn %>

      <!-- Page Content Holder -->
      <div id="content">
        <div class="container">
          <header class="header">
            <h2>Rubik's Cube Algorithms trainer</h2>
          </header>

          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

          <main role="main">
            <%= @inner_content %>
          </main>

        </div> <!-- /container -->

        <%= render RubiksWeb.SharedView, "resources.html" %>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://lar5.com/cube/rp/roofpig_and_three.min.js"></script>
    <script src="<%= Routes.static_path(@conn, "/assets/app.js") %>"></script>
  </body>
</html>
