/* This file is for your main application css. */

.width200 {
  width: 200px;
}
/*Roofpig BEGIN*/
.roofpig:before,.roofpig:after {
  content: " ";
  display: table;
}
.roofpig:after {
  clear: both;
}
.roofpig {
  border: none !important;
  margin: 5px auto 25px;
  max-width: 500px;
  color: #000;
  font-weight: bold;
  font-size: 1.1em;
}
.roofpig.inlineblock {
  margin: 5px 20px 25px;
  vertical-align: top;
}
.roofpig > div {
  height: auto !important;
  border: none !important;
  margin-top: 5px;
}
.roofpig-algtext {
  background-color: transparent;
  height: auto !important;
  font-size: 15px !important;
  line-height: 19px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 7px;
}
.roofpig-past-algtext {
  background-color: #a9cef5;
  border-radius: 5px;
}
.roofpig-button {
  border-radius: 5px;
  border: none;
  color: #FFF;
  font-weight: bold;
  line-height: 22px;
  height: 27px !important;
  margin-right: 6px;
  text-indent: -117px;
  font-size: 10px !important;
  overflow: hidden;
  width: 34px !important;
}
#reset-1, #reset-2, #reset-3, #reset-4, #reset-5, #reset-6, #reset-7, #reset-8, #reset-9, #reset-10, #reset-11, #reset-12, #reset-13, #reset-14, #reset-15  {
  background-position: 6px -234px;
}
#play-1, #play-2, #play-3, #play-4, #play-5, #play-6, #play-7, #play-8, #play-9, #play-10, #play-11, #play-12, #play-13, #play-14, #play-15 {
  background-position: 6px -324px;
}
#prev-1, #prev-2, #prev-3, #prev-4, #prev-5, #prev-6, #prev-7, #prev-8, #prev-9, #prev-10, #prev-11, #prev-12, #prev-13, #prev-14, #prev-15 {
  background-position: 6px -264px;
}
#next-1, #next-2, #next-3, #next-4, #next-5, #next-6, #next-7, #next-8, #next-9, #next-10, #next-11, #next-12, #next-13, #next-14, #next-15 {
  background-position: 6px -294px;
}
#pause-1, #pause-2, #pause-3, #pause-4, #pause-5, #pause-6, #pause-7, #pause-8, #pause-9, #pause-10, #pause-11, #pause-12, #pause-13, #pause-14, #pause-15 {
  background-position: 7px -353px;
}

.width150 .roofpig-button {
  width: 30px !important;
}
.roofpig-count {
  font-weight: bold;
  color: #2e649e;
  width: auto;
  margin-left: 2px;
  display: inline-block;
}
.roofpig-button-enabled:hover {
  background-color: #2e649e;
}
.width100 {	width: 100px;		}
.width150 {	width: 150px;	}
.width200 {	width: 200px;	}
.width250 {	max-width: 250px;	}
.width300 {	max-width: 300px;	}
.width350 {	max-width: 350px;	}
.width400 {	max-width: 400px;	}
.width450 {	max-width: 450px;	}
.width500 {	max-width: 500px;	}
#play-1 {
  animation: firstPlayButtonBlinking 5s infinite;
}
@keyframes firstPlayButtonBlinking {
  0%   {  background-color: #4287d2;   }
  70%   { background-color: #4287d2;  }
  80%   { background-color: #EEEEEE;  }
  90%   { background-color: #f5111b;  }
  100%   { background-color: #4287d2;  }
}
.roofpig-help-button {
  display: none;
}
div.roofpig {
  position: relative;
  border: 2px solid rgb(238, 238, 238);
  cursor: default;
}

/*Roofpig END*/

/* Sidebar */
body div.wrapper {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1.1em;
}

p {
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}


/* ---------------------------------------------------
SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  position: fixed;
  overflow: scroll;
  top: 0;
  bottom: 0;
  min-width: 25%;
  max-width: 30%;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
  color: inherit;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
/*
#sidebar ul li a:hover {
color: #7386D5;
background: #fff;
}
 */

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-size: 0.6em;
}

a[aria-expanded="true"]::before {
  content: '\e260';
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

#sidebar .algImgCont img {
  height: 65px;
  width: 65px;
}

#sidebar p.sub-title {
  font-weight: bold;
  font-size: 1.2em;
}

/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */

#content {
  margin-left: 45%;
  padding: 20px;
  min-height: 100%;
  transition: all 0.3s;
}

/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #content {
    margin-left: 35%;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
