<div class="roofpig width200" data-config="alg=<%= @alg.solution %>|hover=1|speed=500|flags=showalg|colors=U:y F:b R:r B:g L:o D:w" style="position: relative; font-family: &quot;Lucida Sans Unicode&quot;, &quot;Lucida Grande&quot;, sans-serif; border: 2px solid rgb(238, 238, 238); cursor: default;"></div>
