<div class="roofpig width250" data-config={"alg=#{@alg.solution}|colored=D* F R FR U|hover=1|speed=500|flags=showalg|colors=U:y F:b R:r B:g L:o D:w"}></div>
<div>
  <span>Setup: <%= @alg.setup_txt %></span>
</div>
